<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body :class="{ 'overflow-hidden max-h-screen': mobileMenu }" class="relative bg-light-bg dark:bg-dark-bg" x-data="{ mobileMenu: false }">
    <div id="main" class="relative max-w-screen-xl mx-auto px-5">
      {{ partial "navbar.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
     </div>
     <script>
       const themeToggle = document.getElementById('theme-toggle');
       const sunIcon = document.getElementById('theme-icon-sun');
       const moonIcon = document.getElementById('theme-icon-moon');

       // Check for saved theme preference or default to light mode
       const currentTheme = localStorage.getItem('theme') || 'light';
       if (currentTheme === 'dark') {
         document.documentElement.classList.add('dark');
         sunIcon.classList.add('hidden');
         moonIcon.classList.remove('hidden');
       } else {
         document.documentElement.classList.remove('dark');
         sunIcon.classList.remove('hidden');
         moonIcon.classList.add('hidden');
       }

       themeToggle.addEventListener('click', () => {
         const isDark = document.documentElement.classList.toggle('dark');
         if (isDark) {
           localStorage.setItem('theme', 'dark');
           sunIcon.classList.add('hidden');
           moonIcon.classList.remove('hidden');
         } else {
           localStorage.setItem('theme', 'light');
           sunIcon.classList.remove('hidden');
           moonIcon.classList.add('hidden');
         }
       });
     </script>
   </body>
</html>
