<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ partial "head/fonts.html" . }}
{{ partial "head/meta.html" . }}
{{ partial "head/favicon.html" . }}
{{ partial "head/scripts.html" . }}
{{ partial "head/styles.html" . }}

{{ template "_internal/google_analytics.html" . }}

<style>
.dark body {
  background-color: #1f2937 !important;
  color: #f9fafb !important;
}
.dark .bg-gray-50 {
  background-color: #374151 !important;
}
.dark .text-gray-700 {
  color: #d1d5db !important;
}
.dark .text-gray-600 {
  color: #9ca3af !important;
}
.dark .text-gray-500 {
  color: #6b7280 !important;
}
</style>
